.perfil-usuario {
    display: flex;
    max-width: 600px;
    margin: 0 auto;

    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.perfil-usuario img {
    max-width: 200px;
    margin-right: 20px;
    border: inset .4em var(--color-primario);
}

.perfil-usuario div {
    text-align: start;
    color: white;
}


@media (max-width: 768px) {
    .perfil-usuario {
        flex-direction: column; 
        align-items: flex-start; 
    }

    .perfil-usuario img {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

.perfil-titulo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.perfil-body{
    width: 100%;
}